<p>
    <mat-toolbar color="primary">
        <mat-icon>analytics</mat-icon>
      <span style="padding-left: 1rem;">Skyo</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon add-icon" aria-label="add data button" (click)="addStreamerDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button class="example-icon add-icon" aria-label="add data button">
        <mat-icon>filter_list</mat-icon>
      </button>
    </mat-toolbar>
</p>
