/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    padding: 0px !important;
}

.form-wrapper{
    width: 100%;
}

.form-header{
    height: 80px;
    font-size: 20px;
    // padding: 0 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid #3f51b5 2px;
    .item{
        display: flex; 
        min-height: 80px; 
        min-width: 80px; 
        align-items: center; 
        align-content: center; 
        justify-content: center;
        &.grow{
            justify-content: flex-start;
            flex-grow: 1;
        }
    }
}
  
.form-content{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgba(248, 248, 248, 0.87), rgb(231, 231, 231), rgba(236, 236, 236, 0.87));
    padding: 1.5rem 1rem;
}

.full-width {
    width: 100%;
}